@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  /* outline: 1px solid limegreen; */
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 47.4% 11.2%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
}

body.dark-mode {
  --background: hsl(224 71% 4%);
  --foreground: hsl(213 31% 91%);
  --muted: hsl(223 47% 11%);
  --muted-foreground: hsl(215.4 16.3% 56.9%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  /* overflow-x: hidden; */
}

body.dark-mode .active {
  background-color: hsl(0 0% 100%);
  color: hsl(222.2 47.4% 11.2%);
}
.custom-scroll-bar ::-webkit-scrollbar {
  width: 0.4rem !important;
  height: 0.4rem !important;
  padding-right: 0.5rem;
}
.custom-scroll-bar ::-webkit-scrollbar-track {
  background-color: rgb(241 245 249/0.5) !important;
  border-radius: 0.25rem !important;
}
.custom-scroll-bar ::-webkit-scrollbar-thumb {
  background-color: #64748b80 !important;
  border-radius: 10px;
  border-radius: 0.25rem !important;
}

nav {
  position: relative;
  z-index: 999;
}
.active {
  color: hsl(213 31% 91%);
}
.mySwiper .swiper-button-next {
  right: 35px;
  left: auto;
}
.mySwiper .swiper-button-prev {
  right: auto;
  left: 30px;
}
button:disabled {
  border: 1px solid var(--foreground);
  color: var(--muted-foreground) !important;
}
.input {
  background-color: var(--background);
}
nav .nav-item {
  background-color: var(--background);
}
.drawer-overlay {
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.table :where(thead, tfoot) {
  color: var(--foreground);
}
.modal-box {
  background-color: var(--background);
  color: var(--foreground) !important;
}
.rti--container {
  background-color: var(--background) !important;
}
.rti--tag {
  background-color: var(--background) !important;
  color: var(--foreground);
  border: 1px solid var(--foreground);
}
.rti--input {
  background-color: transparent;
  color: var(--foreground);
}
.StripeElement {
  @apply shadow-lg px-3 py-5;
}
